<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
   <script src="task2.js"></script>
   <div class="wrapper">
      <main>
         <a href="../../index.html">Return to homepage</a>
         <h1>Task2</h1>

         <div class="hint">
            Press F12 to see result of js magic in console.
         </div>

         Запросить у пользователя число от 0 до 9 и вывести ему спецсимвол, который расположен на этой клавише (1–!,
         2–@, 3–# и т. д).



      </main>
   </div>
</body>

</html>